// Colors 
$red: #FF3600;
$color-text-intro: #505050;
$black-light: #515151;
$blue-light: #1A92CC;
$blue-dark: #0070A2;
$black: #000;
$white: #fff;
$intro-subpage-area-small-bg: rgba(238, 249, 255, .66);
$intro-apla-bg: rgba(238, 249, 255, .66);





// font size
$title-section: 1.65rem;
$font-size-desc: 0.9rem;
$title_size_intro_subpage: 2rem;



// font-familly
$maven-pro:'Lato',
sans-serif;
$lato:'Lato',
sans-serif;