@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Maven+Pro:wght@400;500;700&display=swap");

// auto-resizing fonts
html {
  font-size: 15px;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(15px + 5 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

p {
  margin-bottom: 0;
}

//burger menu
.animated-icon1 span {
  background: $black-light;
}

.navbar ul#menu-menu-glowne .nav-item .dropdown-menu {
  display: none;
}

// .nav-subpage .container #navbarNavDropdown ul li .dropdown-menu li a {
//   color: Black !important;
// }

ul#menu-menu-glowne ul.dropdown-menu.show {
  display: block !important;
}

.navbar {
  background-color: $white;
  padding: 15px;
  transition: 0.3s;
  color: #000;
  transition: 0.3s linear;
  min-height: 120px;

  #navbarNavDropdown .nav-item [title~="Firma"] {
    &::after {
      content: "▼";
      padding-left: 3px;
      border-top: none !important;
      color: #ff570c;
    }
    ~ ul {
      margin-left: 5px;
      // background-color: transparent !important;
      // box-shadow: none !important;
      a {
        color: white;
        text-transform: uppercase;
      }
    }
  }

  @media (max-width: 1199px) {
    min-height: 64px;
    padding: 10px 15px;
  }

  &.navbarHome {
    background-color: transparent;
    padding: 60px 15px 15px;

    @media (max-width: 1199px) {
      padding: 15px;
      background-color: $white;
      min-height: 64px;
    }

    .nav-link {
      color: $white;
    }
  }

  &.nav-subpage {
    .nav-link {
      color: $black-light;
    }
  }

  .navbar-brand {
    // padding-top: 0;
    // padding-bottom: 0;

    img {
      max-height: 73px;
      width: auto;
      transition: 0.3s linear;
      max-width: 100%;

      @media (max-width: 1199px) {
        max-height: 40px;
        width: auto;
      }
    }
  }

  ul#menu-menu-glowne {
    display: flex;
    align-items: center;

    .nav-item {
      &:last-child {
        @media (min-width: 1200px) {
          margin-left: 65px;
        }
      }

      .dropdown-menu {
        padding: 0;
        background-color: transparent;
        border: none;

        @media (min-width: 1200px) {
          background-color: rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          overflow: hidden;
        }
        @media (max-width: 1199px) {
          list-style: none;
          padding: 0;
          margin: 0;
        }


        .nav-item {
          padding: 0;
          margin: 0;

          .dropdown-item {
            padding: 0.25rem 0.75rem;
            font-size: 0.8rem;

            @media (max-width: 1199px) {
              text-align: center!important;
              font-size: 1.1rem;
              font-weight: 500!important;
              color: #515151!important;
            }

            &:hover {
              background-color: $red;
              color: $white;

            }
          }
        }
      }
    }
  }

  &.scroll {
    background-color: #fff;
    padding: 10px 15px;
    min-height: 64px;

    #navbarNavDropdown {
      .nav-item {
        .nav-link {
          color: $black-light;
        }
      }
    }

    // ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item .dropdown-item {
    //   color: $black-light;
    // }

    .navbar-brand {
      img {
        max-height: 70px;
        width: auto;
      }
    }
  }

  #navbarNavDropdown {
    justify-content: flex-end;
    #menu-menu-glowne {
    @media(max-width:1199px) {
      height: 100vh;
      margin-top: 5vh;
    }
    }
    .nav-item {
      // add fast contact phone
      &.phone-desctop-fast-contact {
        height: 57px;
        width: 57px;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        img {
          border: 1px solid $white;
          border-radius: 50%;
          padding: 10px;
          max-width: 57px;
          height: auto;
        }

        @media (max-width: 1199px) {
          display: none;
        }
      }

      .nav-link {
        font-size: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        position: relative;
        transition: 0.3s;
        text-transform: uppercase;

        @media (max-width: 1360px) {
          padding-left: 0.1rem;
          padding-right: 0.1rem;
        }

        @media (max-width: 1199px) {
          // color: $black-light;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 500;
        }

        &:hover {
          color: $red;
        }

        &.dropdown-toggle {
          &:after {
            border-top: 0.3em solid $red;
          }
        }
      }

      .active {
        .nav-link {
          color: $red;
        }
      }

      &.current_page_item {
        .nav-link {
          color: $red;
        }
      }
    }
&.show {
  #menu-menu-glowne {
    // height: 100vh;
    // opacity: 1;
  }
}
  }
}

//general

html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: $black-light;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;

  .number-desctop {
    position: fixed;

    right: 4%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.66);
    padding: 10px;
    border-radius: 50px;
    opacity: 0;
    transition: 0.3s linear;
    transform: scale(0) translateY(0);

    @media (max-width: 1900px) {
      right: 2%;
    }

    @media (max-width: 1820px) {
      right: 3%;
    }

    @media (max-width: 1730px) {
      right: 25px;
    }

    a {
      font-size: 1rem;
      font-weight: 500;
      color: $color-text-intro;
      min-width: 10rem;
      display: flex;
      justify-content: center;
    }

    &.active {
      display: block;
      transition: 0.3s linear;
      opacity: 1;
      transform: scale(1) translateY(150px);
      z-index: 9999;

      &.scroll {
        transform: scale(1) translateY(100px);
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }

  .phone-mobile-fast-contact {
    height: 57px;
    width: 57px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
    position: fixed;
    right: 15px;
    bottom: 45px;
    z-index: 9999999;
    display: none;
    transform: scale(1);
    animation: pulse 2s infinite;

    @media (max-width: 1199px) {
      display: flex;
      background: $blue-dark;
    }

    img {
      border: 1px solid $white;
      border-radius: 50%;
      padding: 10px;
      max-width: 57px;
      height: auto;
    }
  }
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1640px;

  &-smaller {
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.slider-home {
  //min-height: 1080px;
  height: 83vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;

  .slider-text {
    position: absolute;
    bottom: 50px;
    color: #515151;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    @media (max-width: 500px) {
      bottom: 240px;
    }
    h2 {
      font-family: "Maven Pro", sans-serif;
      font-weight: 700;
    }
  }

  @media (max-width: 767px) {
    min-height: 745px;
  }

  .img-slider {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom center;
    height: 100%;
    width: 100%;
  }

  .about-gradient {
    background: linear-gradient(
      180deg,
      rgba(128, 128, 128, 0) 0%,
      rgba(128, 128, 128, 0.6) 50%,
      rgba(128, 128, 128, 1) 100%
    );
    position: absolute;
    left: 0;
    object-fit: cover;
    object-position: bottom center;
    width: 100%;
    height: 21%;
    bottom: 0;
    @media (max-width: 500px) {
      height: 50%;
    }
  }

  .apla-slider {
    padding: 80px 140px 55px;
    position: relative;
    margin-top: 180px;
    background: rgba(238, 249, 255, 0.66);
    width: 1085px;

    @media (max-width: 1440px) {
      padding: 60px 90px 35px;
      width: 991px;
    }

    @media (max-width: 1199px) {
      padding: 60px 30px 35px;
      width: 767px;
    }

    @media (max-width: 991px) {
      width: 670px;
      padding: 60px 15px 35px;
    }

    @media (max-width: 767px) {
      padding: 40px 5px 5px;
      width: calc(100% - 80px);
      margin: 117px auto 0;
    }

    @media (max-width: 360px) {
      width: calc(100% - 30px);
    }

    .title-page {
      margin-bottom: 3rem;

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }

      h1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: $blue-dark;
        margin-bottom: 0;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }

    .text-on-slider {
      margin-bottom: 3rem;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.25rem;
        color: $color-text-intro;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }

    .list-icon-apla-slider {
      margin-bottom: 90px;

      @media (max-width: 767px) {
        margin-bottom: 5px;
      }

      .area-icon-text-apla-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;

        @media (max-width: 767px) {
          margin-bottom: 5px;
        }

        .item-icon-apla-slider {
          width: 72px;
          height: 72px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-radius: 15px;
          margin-bottom: 1.5rem;

          @media (max-width: 767px) {
            width: 64px;
            height: 64px;
            margin-bottom: 15px;
          }

          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
        }

        .text-item-icon-apla-slider {
          @media (max-width: 767px) {
            margin-bottom: 24px;
          }

          h3 {
            font-size: $font-size-desc;
            font-weight: 500;
            text-align: center;
            margin-bottom: 0;
            color: $color-text-intro;

            @media (max-width: 767px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    .btn-apla-slider {
      background-color: $blue-light;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      max-width: 260px;
      margin: 0 auto;
      transition: 0.3s linear;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 1rem;

      &:hover {
        background-color: $red;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

section.seo-text-home {
  padding: 1.75rem 2rem 0;
  max-width: 1080px;
  margin: 0 auto;

  .about-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media (max-width: 500px) {
      display: flex;
      flex-flow: column;
    }
    h3 {
      font-size: 25px;
      padding: 20px;
      @media (max-width: 500px) {
        font-size: 15px;
        font-weight: 500;
      }
    }
    img {
      margin-top: -20px;
      padding: 20px;
    }
  }

  @media (max-width: 767px) {
    padding: 1.5rem 2rem 0;
  }

  @media (max-width: 413px) {
    padding: 1.5rem 0 1.25rem;
  }

  .text-seo-area {
    padding-top: 2.75rem;

    @media (max-width: 767px) {
      padding-top: 1.5rem;
    }

    p {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1.25rem;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
}

.arrow-animate {
  display: flex;
  justify-content: center;
  animation: bounce-scroll 2.1s linear infinite;

  @media (max-width: 767px) {
    animation: bounce-scroll-mobile 2.1s linear infinite;
  }
}

.aboutus_home {
  padding: 0 2rem 8.25rem;
  max-width: 1080px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0rem 2rem 3.25rem;
  }

  @media (max-width: 413px) {
    padding: 0.5rem 0rem 3.25rem;
  }

  .title-section {
    padding: 2.25rem 0 3rem;

    @media (max-width: 767px) {
      padding: 0 0 1.5rem 0;
    }

    h2 {
      color: $red;
      font-size: $title-section;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .text-aboutus-home {
    h3 {
      margin-bottom: 2.25rem;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    p {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1.25rem;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }

  .buttons-aboutus-home {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    .btn-aboutus {
      background-color: $blue-light;
      margin: 0 15px;
      color: $white;
      width: 248px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s linear;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 1rem;

      @media (max-width: 767px) {
        font-size: 12px;
        width: 100%;
        height: 45px;
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &:hover {
        background-color: $red;
      }
    }
  }
}

section.offer {
  padding: 9rem 1.25rem 11rem;
  background-size: cover;
  background-position: center;
  min-height: 840px;

  @media (max-width: 767px) {
    padding: 65px 0 0;
  }

  .title-section {
    margin-bottom: 6rem;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    h2 {
      color: $white;
      font-size: $title-section;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .block-item-offer-section-homepage {
    min-height: 273px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;

    @media (max-width: 767px) {
      min-height: 160px;
      margin: 0 25px 30px;
    }

    @media (max-width: 413px) {
      margin: 0 0 30px;
    }

    .icon {
      margin-bottom: 1.25rem;

      @media (max-width: 767px) {
        padding: 5px;
      }

      img {
        max-width: 77px;
        height: auto;

        @media (max-width: 767px) {
          max-width: 64px;
        }
      }
    }

    .text-name-offer {
      h3 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0;
        color: $black-light;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }

    .hover-area-text {
      position: absolute;
      height: 100%;
      width: 100%;
      background: $blue-light;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.1s linear;
      transform: scale(1);
      padding: 0 2rem;

      @media (max-width: 1199px) {
        padding: 0 1rem;
      }

      p {
        margin-bottom: 0;
        color: $white;
        text-align: center;
        font-size: $font-size-desc;
        line-height: 24px;

        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .readmore-text {
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
        color: $white;
        display: block;
        font-family: $lato;
        font-weight: 400;
        font-size: $font-size-desc;
        line-height: 22px;
      }

      &:hover {
        transform: scale(1.08);
        opacity: 1;

        @media (max-width: 767px) {
          opacity: 0;
        }
      }
    }
  }
}

.realizations {
  padding: 6.25em 1.25rem 3.5rem;

  @media (max-width: 767px) {
    padding: 3.25em 1.25rem;
  }

  @media (max-width: 413px) {
    padding: 3.25em 0;
  }

  .title-section {
    margin-bottom: 3rem;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    h2 {
      color: $red;
      font-size: $title-section;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 30px;
    padding: 10px;
    margin-bottom: 3rem;

    @media (max-width: 991px) {
      grid-gap: 20px;
      margin-bottom: 1.5rem;
    }
  }

  .item1 {
    grid-column: 1 / 4;

    @media (max-width: 1199px) {
      grid-column: 1 / 6;
    }

    @media (max-width: 991px) {
      grid-column: 1 / 11;
    }
  }

  .item2 {
    grid-column: 4 / 11;

    @media (max-width: 1199px) {
      grid-column: 6 / 11;
    }

    @media (max-width: 991px) {
      grid-column: 1 / 11;
    }
  }

  .item3 {
    grid-column: 1 / 6;

    @media (max-width: 1199px) {
      grid-column: 1 / 6;
    }

    @media (max-width: 991px) {
      grid-column: 1 / 11;
    }
  }

  .item4 {
    grid-column: 6 / 11;

    @media (max-width: 1199px) {
      grid-column: 6 / 11;
    }

    @media (max-width: 991px) {
      grid-column: 1 / 11;
    }
  }

  .text-post-apla {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      rgba(0, 112, 162, 0.66),
      rgba(0, 112, 162, 0.66)
    );
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;

    @media (max-width: 767px) {
      position: unset;
      height: unset;
      min-height: 75px;
      opacity: 1;
      padding: 15px 0 0 0;
      background: $white;
    }

    h3 {
      color: $white;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 0;
      font-weight: 700;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 767px) {
        color: $color-text-intro;
        font-size: 15px;
      }

      &:after {
        content: "";
        display: block;
        width: 80%;
        background: $red;
        height: 2px;
        margin: 15px auto;
      }
    }

    p {
      font-size: 1rem;
      color: $white;
      margin-bottom: 0;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 767px) {
        color: $color-text-intro;
        font-size: 12px;
      }
    }
  }

  .grid-container > .link-post {
    text-align: center;
    font-size: 30px;
    height: 354px;
    position: relative;
    transition: 0.2s linear;
    transform: scale(1);

    @media (max-width: 767px) {
      height: unset;
    }

    &:hover {
      transform: scale(0.9);

      @media (max-width: 767px) {
        transform: scale(1);
      }

      .text-post-apla {
        opacity: 1;
      }
    }

    .bg-block-realization {
      background-size: cover !important;
      background-position: bottom center !important;
      background-repeat: no-repeat !important;
      height: 100%;

      @media (max-width: 767px) {
        height: 160px;
      }
    }
  }
}

// btn blue and hover red for all page
.btn-blue {
  background-color: $blue-light;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  max-width: 260px;
  margin: 0 auto;
  transition: 0.3s linear;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    background-color: $red;
    color: $white;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    height: 45px;
    max-width: 100%;
  }
}

// custom class for homepage
#homepage {
  .realizations {
    padding: 6.25em 1.25rem 6.5rem;

    @media (max-width: 767px) {
      padding: 3.25rem 1.25rem;
    }

    @media (max-width: 413px) {
      padding: 3.25rem 0;
    }
  }
}

// custom class for homepage
#blog,
#offer {
  .presetation-list {
    margin-bottom: 6.5rem;

    @media (max-width: 991px) {
      margin-bottom: 0;
      padding-bottom: 1.5rem;
    }

    .text-block-presentationList {
      span.read-more {
        color: $red;
        font-weight: 700;
        text-align: center;
        display: block;
        margin-top: -0.5rem;
        font-size: 1rem;
      }
    }
  }

  .intro-bottom {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  .dividier {
    &.max991-d-none {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

//custom style for offer
#offer {
  .title-section {
    margin-bottom: 3rem;

    @media (max-width: 991px) {
      margin-bottom: 2.25rem;
    }

    h2 {
      color: $color-text-intro;
      text-align: center;
      font-size: 1.25em;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .text-block-presentationList {
    .presetation-list {
      padding: 6.5rem 0 0 0;

      @media (max-width: 991px) {
        padding: 3.5rem 1.25rem 3.25rem;
      }
    }

    .text-title-icon-offer {
      h3 {
        color: $black-light;
        margin-bottom: 0;
      }
    }
  }

  .listIcons_offer {
    padding: 6.5rem 0 6rem;

    @media (max-width: 1199px) {
      padding: 1.25rem 2rem 1.5rem;
    }

    @media (max-width: 413px) {
      padding: 2.25rem 0 1.5rem;
    }

    .list-Icons_offer_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1199px) {
        margin-bottom: 2rem;
      }

      // @media (max-width: 991px) {
      //   margin-bottom: 2rem;
      // }

      .icon-item-offer {
        margin-bottom: 1.5rem;
        height: 6.5rem;

        img {
          max-width: 5.75rem;
          height: auto;
        }
      }

      .text-title-icon-offer {
        h3 {
          text-align: center;
          font-size: 1.25rem;
          color: $color-text-intro;
          font-weight: 500;
          margin-bottom: 0;

          @media (max-width: 767px) {
            font-size: 15px;
          }
        }
      }
    }
  }

  // zmieniamy kolejnośc kolumn dla oferty
  .wrap-list-presentation {
    .nth-row-list-presentation {
      // margin-bottom: 6.5rem;

      // @media(max-width:991px) {
      //     margin-bottom: 3rem;

      //     &:last-child {
      //         margin-bottom: 0;
      //     }
      // }

      // nieparzysta
      // &:nth-child(odd) {
      //     .nth-list-presentation-col {
      //         .image-blockpresentationList {
      //             display: flex;
      //             justify-content: flex-end;

      //             @media(max-width:991px) {
      //                 justify-content: center;
      //             }
      //         }
      //     }
      // }

      // &:nth-child(even) {
      //     .nth-list-presentation-col {
      //         .image-blockpresentationList {
      //             display: flex;
      //             justify-content: flex-start;

      //             @media(max-width:991px) {
      //                 justify-content: center;
      //             }
      //         }
      //     }
      // }

      // nieparzysta
      &:nth-child(odd) {
        .nth-list-presentation-col {
          &:nth-child(odd) {
            // order: 2;

            @media (max-width: 991px) {
              order: 2;
            }
          }

          &:nth-child(even) {
            // order: 1;

            @media (max-width: 991px) {
              order: 1;
            }
          }
        }
      }

      // parzysta
      &:nth-child(even) {
        .nth-list-presentation-col {
          &:nth-child(odd) {
            // order: 2;

            @media (max-width: 991px) {
              order: 2;
            }
          }

          &:nth-child(even) {
            // order: 1;

            @media (max-width: 991px) {
              order: 1;
            }
          }
        }
      }

      // .text-block-presentationList {
      //     padding-top: 1.25rem;

      //     @media(max-width:991px) {
      //         margin: 0 auto 1.5rem;
      //         padding: 0 2.25rem;
      //     }

      //     @media(max-width:413px) {
      //         padding: 0;
      //     }

      //     h3 {
      //         text-align: center;
      //         font-size: 1.25rem;
      //         font-weight: 700;
      //         margin-bottom: 1.5rem;
      //         color: $blue-dark;

      //         @media(max-width:767px) {
      //             font-size: 15px;
      //         }
      //     }

      //     p {
      //         text-align: center;
      //         font-size: 1.25rem;
      //         margin-bottom: 0.75rem;
      //         color: $black-light;

      //         @media(max-width:767px) {
      //             font-size: 15px;
      //         }
      //     }

      // }

      .image-blockpresentationList {
        @media (max-width: 991px) {
          margin-bottom: 2.5rem;
        }

        // img {
        //     object-fit: cover;
        //     height: 350px;
        //     width: 525px;
        //     max-width: 100%;

        //     @media(max-width:767px) {
        //         height: 280px;
        //     }

        //     @media(max-width:500px) {
        //         height: 161px;
        //     }
        // }
      }
    }
  }

  // end zmieiamy kolejnosc kolumn dla ofertyu

  .text-block-presentationList {
    h3 {
      color: $black-light;
    }

    .btn-blue {
      width: 110px;
      font-size: 18px;
    }
  }
}

// animate arrow
@keyframes bounce-scroll {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(25px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

// animate arrow mobile
@keyframes bounce-scroll-mobile {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

// animation pulse
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(79, 141, 221, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(46, 71, 185, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(62, 70, 185, 0);
  }
}

.news {
  padding: 6.75rem 1.25rem 8.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 868px;
  margin-bottom: 4.5rem;

  @media (max-width: 767px) {
    min-height: unset;
    padding: 1.5rem 0.75rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 413px) {
    padding: 1.5rem 0;
  }

  .title-section {
    margin-bottom: 4.5rem;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    h2 {
      color: $white;
      font-size: $title-section;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .blog_post-wrap {
    background: $white;
    min-height: 398px;
    padding: 2rem 3rem 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;

    @media (max-width: 767px) {
      min-height: unset;
      padding: 1.5rem 0.75rem 1.5rem;
    }

    .blog-title-area {
      min-height: 66px;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        min-height: unset;
        margin-bottom: 10px;
      }

      h3.blog_post-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
        color: $blue-dark;
        margin-bottom: 0;
        text-align: center;
        font-weight: 700;
        line-height: 33px;

        @media (max-width: 767px) {
          font-size: 20px;
          margin-bottom: 10px;
          line-height: 20px;
        }
      }
    }

    .blog_post-description {
      min-height: 135px;
      margin-bottom: 2.75rem;

      @media (max-width: 767px) {
        margin-bottom: 15px;
        min-height: unset;
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        text-align: center;
        margin-bottom: 0;
        color: $black-light;
        line-height: 27px;

        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }

    .read-more {
      display: block;
      text-align: right;
      font-size: 1rem;
      font-weight: 700;
      color: $red;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
}

// for all subpage
.intro-subpage-area {
  width: 100%;
  padding-top: 6rem;

  @media (max-width: 1199px) {
    padding-top: 73px;
  }

  .intro-bg-area {
    min-height: 74vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;

    @media (max-width: 767px) {
      min-height: 50vh;
      margin-bottom: 0.5rem;
    }

    .center-column-intro-apla {
      display: flex;
      justify-content: center;
      width: 100%;

      @media (max-width: 991px) {
        margin: 0 25px;
      }

      @media (max-width: 413px) {
        margin: 0;
      }

      .intro-apla-bg {
        background: $intro-apla-bg;
        min-height: 323px;
        padding: 3.2rem 0;
        margin: 2.25rem 0 0.75rem;

        @media (max-width: 991px) {
          min-height: 272px;
          margin: 0.75rem 0;
        }

        .titleIntro-area {
          h1 {
            color: $blue-dark;
            font-size: $title_size_intro_subpage;
            text-align: center;
            font-weight: 700;
            margin-bottom: 1.5rem;
            padding: 0 0.75rem;

            @media (max-width: 767px) {
              font-size: 20px;
              margin-bottom: 15px;
            }
          }
        }

        .textIntro-area {
          padding: 0 18rem;

          @media (max-width: 1800px) {
            padding: 0 10rem;
          }

          @media (max-width: 1400px) {
            padding: 0 5rem;
          }

          @media (max-width: 1199px) {
            padding: 0 2.5rem;
          }

          @media (max-width: 767px) {
            padding: 0 0.75rem;
          }

          p {
            text-align: center;
            font-size: 1.25rem;
            margin-bottom: 0;

            @media (max-width: 767px) {
              font-size: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &.intro-promo {
        min-height: 36vh;
    }

  }
}

.dividier {
  height: 2px;
  background-color: $red;
  max-width: 65%;
  margin: 0 auto;

  @media (max-width: 991px) {
    height: 1px;
  }
}

#about-us {
  .certificate {
    padding: 6.5rem 0;
    max-width: 1080px;
    margin: 0 auto;

    @media (max-width: 991px) {
      padding: 1.5rem 0.75rem 3.5rem;
    }

    .cert-wrap-text {
      max-width: 805px;
      margin: 0 auto 1.5rem;

      h2 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: $blue-dark;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }

      p {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }

    .btn-blue {
      max-width: 248px;

      @media (max-width: 991px) {
        max-width: 162px;
      }
    }
  }
}

// czyszczenie klimatyzacji informacja
.intro-bottom {
  margin-bottom: 6rem;

  @media (max-width: 991px) {
    margin-bottom: 3rem;
  }

  .intro-bottom-wrapper {
    padding: 6.5rem 0 5.75rem;
    max-width: 665px;
    margin: 0 auto;

    @media (max-width: 991px) {
      padding: 3rem 1.25rem 2.25rem;
      max-width: 86%;
    }

    @media (max-width: 413px) {
      max-width: 100%;
    }

    h3 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: $blue-dark;

      @media (max-width: 767px) {
        font-size: 20px;
        color: $color-text-intro;
      }
    }

    p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0.75rem;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
}

// list for O nas, Blog itp
section.presetation-list {
  padding: 6.5rem 0 0 0;

  @media (max-width: 991px) {
    padding: 3.5rem 1.25rem 3.25rem;
  }

  .wrap-list-presentation {
    .nth-row-list-presentation {
      margin-bottom: 6.5rem;

      @media (max-width: 991px) {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      // nieparzysta
      &:nth-child(odd) {
        .nth-list-presentation-col {
          .image-blockpresentationList {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 991px) {
              justify-content: center;
            }
          }
        }
      }

      &:nth-child(even) {
        .nth-list-presentation-col {
          .image-blockpresentationList {
            display: flex;
            justify-content: flex-start;

            @media (max-width: 991px) {
              justify-content: center;
            }
          }
        }
      }

      // parzysta
      &:nth-child(even) {
        .nth-list-presentation-col {
          &:nth-child(odd) {
            order: 2;

            @media (max-width: 991px) {
              order: 1;
            }
          }

          &:nth-child(even) {
            order: 1;

            @media (max-width: 991px) {
              order: 2;
            }
          }
        }
      }

      .text-block-presentationList {
        padding-top: 1.25rem;

        @media (max-width: 991px) {
          margin: 0 auto 1.5rem;
          padding: 0 2.25rem;
        }

        @media (max-width: 413px) {
          padding: 0;
        }

        h3 {
          text-align: center;
          font-size: 1.25rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
          color: $blue-dark;

          @media (max-width: 767px) {
            font-size: 15px;
          }
        }

        p {
          text-align: center;
          font-size: 1.25rem;
          margin-bottom: 0.75rem;
          color: $black-light;
          display: -webkit-box;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (max-width: 767px) {
            font-size: 15px;
          }
        }
      }

      .image-blockpresentationList {
        img {
          object-fit: cover;
          height: 350px;
          width: 525px;
          max-width: 100%;

          @media (max-width: 767px) {
            height: 280px;
          }

          @media (max-width: 500px) {
            height: auto;
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5rem;

    @media (max-width: 991px) {
      margin-bottom: 0;
      margin-top: 3rem;
    }

    .page-numbers {
      color: $black-light;
      padding: 0 0.25rem;
      transition: 0.3s linear;

      &.current {
        color: $red;
      }

      &:hover {
        color: $red;
      }
    }
  }
}

// end list for O nas, Blog itp

// start apla-title - for many site
#subpage-text {
  padding-top: 6rem;

  @media (max-width: 1199px) {
    padding: 5.75rem 0 0;
  }

  @media (max-width: 991px) {
    min-height: 72px;
    padding: 6.75rem 2rem 0;
  }

  @media (max-width: 413px) {
    padding: 6.75rem 0.75rem 0;
  }

  .intro-subpage-area-small {
    background: $intro-subpage-area-small-bg;
    min-height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @media (max-width: 991px) {
      min-height: 72px;
    }

    .title-area {
      h1 {
        color: $color-text-intro;
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 700;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }
}

.list-icons-contact {
  padding: 6.5rem 1.5rem;

  @media (max-width: 1199px) {
    padding: 3rem 2rem 0.5rem;
  }

  @media (max-width: 413px) {
    padding: 2.5rem 1.75rem;
  }

  .doLewej {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 500px) {
      padding: 0 3.5rem;
      display: block;
    }

    @media (max-width: 413px) {
      padding: 0;
    }

    .wrap-item-block,
    .link-area-wrap {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1199px) {
        margin-bottom: 2.5rem;
      }

      @media (max-width: 767px) {
        justify-content: flex-start;
      }

      @media (max-width: 413px) {
        justify-content: center;
      }

      .icon {
        margin-right: 1.25rem;

        @media (max-width: 991px) {
          margin-right: 0.75rem;
        }

        img {
          max-width: 64px;
          height: auto;

          @media (max-width: 991px) {
            max-width: 33px;
          }
        }
      }

      .text-of-icon {
        h3 {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 0;
          color: $black-light;

          @media (max-width: 1300px) {
            font-size: 1rem;
          }

          @media (max-width: 991px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

#contact {
  padding-top: 6rem;

  @media (max-width: 1199px) {
    padding: 5.75rem 2rem 0;
  }

  // @media(max-width:991px) {
  //     padding: 5.75rem 1.25rem 0;
  // }

  @media (max-width: 413px) {
    padding: 5.75rem 0 0;
  }

  .intro-subpage-area-small {
    background: $intro-subpage-area-small-bg;
    min-height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @media (max-width: 991px) {
      min-height: 72px;
    }

    // @media(max-width:767px) {
    //     margin: 0 1.25rem;
    // }

    .title-area {
      h1 {
        color: $color-text-intro;
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 700;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }

  .mapAndForm {
    margin-bottom: 6.5rem;
    padding: 0 1.25rem;

    @media (max-width: 1199px) {
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    @media (max-width: 991px) {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 413px) {
      margin-left: unset;
      margin-right: unset;
    }

    .mapAndFormArea {
      padding-bottom: 6.5rem;

      @media (max-width: 991px) {
        padding-bottom: 3.5rem;
      }

      .col-contact-order-1 {
        @media (max-width: 1199px) {
          order: 2;
        }
      }

      .col-contact-order-2 {
        @media (max-width: 1199px) {
          order: 1;
        }
      }

      .title-column {
        margin-bottom: 1.5rem;

        h3 {
          color: $red;
          font-size: 1.25rem;
          margin-bottom: 0;
          font-weight: 700;

          @media (max-width: 1199px) {
            text-align: center;
          }
        }
      }

      .map-area {
        height: calc(100% - 4.5rem);
        margin-right: 4.5rem;
        position: relative;
        overflow: hidden;

        @media (max-width: 1440px) {
          margin-right: 0;
        }

        @media (max-width: 1199px) {
          height: 500px;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }

      .contact-form-area {
        min-height: 635px;

        @media (max-width: 1199px) {
          margin-bottom: calc(3rem - 24px);
        }

        .form-control {
          display: block;
          width: 100%;
          min-height: 3.2rem;
          padding: 10px 15px;
          font-size: 1rem;
          font-weight: 400;
          color: $black-light;
          margin-bottom: 1.5rem;
          border: 1px solid $blue-dark;
          border-radius: 0;
          font-size: 1.25rem;

          @media (max-width: 1199px) {
            border: 1px solid $blue-dark;
          }
        }

        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $black-light;
          font-size: 18px;
          font-weight: 400;

          @media (max-width: 1199px) {
            font-size: 15px;
          }
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: $black-light;
          font-size: 18px;
          font-weight: 400;

          @media (max-width: 1199px) {
            font-size: 15px;
          }
        }

        :-ms-input-placeholder {
          /* IE 10+ */
          color: $black-light;
          font-size: 18px;
          font-weight: 400;

          @media (max-width: 1199x) {
            font-size: 15px;
          }
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: $black-light;
          font-size: 18px;
          font-weight: 400;

          @media (max-width: 1199x) {
            font-size: 15px;
          }
        }

        .btn-blue {
          border: none;
          width: 110px;

          &:focus {
            outline: -webkit-focus-ring-color auto 0px;
          }

          @media (max-width: 1199px) {
            width: 160px;
          }
        }

        // style for allerts
        .wpcf7-not-valid-tip {
          color: $red;
          font-size: 1em;
          font-weight: normal;
          display: block;
          font-size: 0.7rem;
          margin-top: -30px;
          margin-bottom: 15px;

          @media (max-width: 1199px) {
            margin-top: -15px;
          }
        }

        .wpcf7 form .wpcf7-response-output {
          font-size: 0.75rem;

          @media (max-width: 1199px) {
            text-align: center;
          }
        }



        .form-with-custom-checkboxes-radios .wpcf7-list-item,
.form-with-custom-checkboxes-radios label {
  display: flex;
  font-size: 18px;
  @media(max-width:1199px) {
    font-size: 15px;
  }
}
 
.form-with-custom-checkboxes-radios .wpcf7-list-item {
  margin: 0;
}
 
.form-with-custom-checkboxes-radios .wpcf7-list-item:not(:last-child) {
  margin-bottom: 10px;
}
 
.form-with-custom-checkboxes-radios label {
  cursor: pointer;
}
 
.form-with-custom-checkboxes-radios [type="radio"],
.form-with-custom-checkboxes-radios [type="checkbox"] {
  position: absolute;
  left: -9999px;
}
 
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label,
.form-with-custom-checkboxes-radios [type="checkbox"] + .wpcf7-list-item-label {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
}
 
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::before,
.form-with-custom-checkboxes-radios [type="checkbox"] + .wpcf7-list-item-label::before,
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::after,
.form-with-custom-checkboxes-radios [type="checkbox"] + .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}
 
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::before,
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::after {
  border-radius: 50%;
}
 
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::before,
.form-with-custom-checkboxes-radios [type="checkbox"] + .wpcf7-list-item-label::before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #706F6F;
}
 
.form-with-custom-checkboxes-radios [type="radio"] + .wpcf7-list-item-label::after,
.form-with-custom-checkboxes-radios [type="checkbox"] + .wpcf7-list-item-label::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  /* background: black; */
  /* transition: all 0.2s; */
}
 
.form-with-custom-checkboxes-radios [type="radio"]:not(:checked) + .wpcf7-list-item-label::after,
.form-with-custom-checkboxes-radios [type="checkbox"]:not(:checked) + .wpcf7-list-item-label::after {
  opacity: 0;
  /* transform: scale(0.01); */
}
 
.form-with-custom-checkboxes-radios [type="radio"]:checked + .wpcf7-list-item-label::after,
.form-with-custom-checkboxes-radios [type="checkbox"]:checked + .wpcf7-list-item-label::after {
  opacity: 1;
  /* transform: scale(1); */
  content: '✓';
  color: $red;
  top: 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
        }
      }
    }
  }





#catalogs {
  padding-bottom: 6.5rem;
  .intro-subpage-area-small {
    background: $intro-subpage-area-small-bg;
    min-height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 100px;

    @media (max-width: 991px) {
      min-height: 72px;
    }

    // @media(max-width:767px) {
    //     margin: 0 1.25rem;
    // }

    .title-area {
      h1 {
        color: $color-text-intro;
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 700;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }
  .intro-text {
    padding: 3.5rem 0;
    max-width: 1080px;
    margin: 0 auto;

    @media (max-width: 991px) {
      padding: 2.5rem 0.75rem 3.5rem;
    }

    .intro-wrap-text {
      margin: 0 auto 1.5rem;

      h2 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: $blue-dark;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }

      p {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        padding-left: 15px;
        padding-right: 15px;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }
  .cenniki-lista,
  .katalogi-lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 0px 80px;

    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
    }
  }
  .cenniki,
  .katalogi {
    text-align: center;
    h3 {
      color: red;
      font-weight: 700;
      margin-bottom: 60px;
      font-size: 33px;
      @media (max-width: 767px) {
        font-size: 25px;
      }
    }

    .cenniki,
    .katalog {
      padding: 20px;
    }
    .cennik-box,
    .katalog-box {
      width: 250px;
      height: 250px;
      box-shadow: 3px 3px 10px 3px #a5a5a5;
      display: flex;
      justify-content: center;
      align-items: center;
      .katalog-image {
        max-width: 200px;
      }
      .cennik-image {
        max-width: 200px;
      }
    }
    .katalog-image {
      max-width: 200px;
    }
    .cennik-image {
      max-width: 200px;
    }
    p {
      font-size: 16px;
      width: 250px;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 120px;
      text-align: left;
      @media (max-width: 767px) {
        margin-bottom: 60px;
      }
    }
  }
}

#footer {
  .footer-content {
    .intro-footer {
      .intro-area-footer {
        padding: 0 2rem 3.25rem;

        @media (max-width: 991px) {
          padding: 0 1.25rem 3rem;
        }

        h2 {
          font-size: $title-section;
          font-weight: 700;
          text-align: center;
          color: $blue-light;
          margin-bottom: 2.25rem;
          line-height: 44px;

          @media (max-width: 767px) {
            line-height: 30px;
            font-size: 20px;
          }
        }

        h3 {
          font-size: 1.25rem;
          font-weight: 700;
          color: $black-light;
          text-align: center;
          line-height: 33px;
          margin-bottom: 1.25rem;

          @media (max-width: 767px) {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .footer-bg-wrap {
    padding: 4.4rem 2rem 1.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      padding: 3.25rem 2rem 1.5rem;
    }

    .social-icons-footer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.7rem;

      @media (max-width: 767px) {
        margin-bottom: 3.25rem;
      }

      .icon-socialmedia-item {
        margin: 0 17px;

        img {
          max-width: 41px;
          height: auto;

          @media (max-width: 767px) {
            max-width: 35px;
          }
        }
      }
    }

    .area-adress-footer {
      margin: 0 auto 3rem;

      @media (max-width: 767px) {
        margin-bottom: 30px;
      }

      .area-adress-flex-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 4.4rem;

        @media (max-width: 767px) {
          margin-bottom: 30px;
        }

        @media (max-width: 413px) {
          flex-direction: column;
          align-items: center;
        }

        .text-adress-area {
          // border: 1px solid red;
          padding-right: 45px;

          @media (max-width: 767px) {
            width: 50%;
            padding: 0 5px;
          }

          @media (max-width: 413px) {
            margin-bottom: 30px;
            width: 100%;
            padding: 0;
          }

          p {
            font-size: 0.8rem!important;
            line-height: 27px;
            font-weight: 500;

            @media (max-width: 767px) {
              text-align: center;
              font-size: 12px;
              line-height: 22px;
            }
          }
        }

        .contact-icons-footer {
          padding-left: 45px;

          @media (max-width: 767px) {
            width: 50%;
            padding: 0 5px;
          }

          @media (max-width: 413px) {
            margin-bottom: 30px;
            width: 100%;
            padding: 0;
            max-width: 50%;
            margin: 0 auto;
          }

          @media (max-width: 360px) {
            max-width: 65%;
          }

          a {
            font-size: 0.8rem;
            color: $color-text-intro;
            line-height: 16px;
            font-weight: 500;
            transition: 0.3s linear;

            &:hover {
              color: $red;
            }

            @media (max-width: 767px) {
              font-size: 12px;
            }
          }

          img {
            margin-right: 15px;
            max-width: 15px;
            height: auto;
          }
        }
      }
    }

    .area-menu-footer {
      padding-bottom: 2.5rem;
      border-bottom: 1px solid $red;
      max-width: 1080px;
      margin: 0 auto;

      @media (max-width: 767px) {
        border-bottom: 1px solid $blue-dark;
        padding-bottom: 0;
      }

      .nav-footer {
        @media (max-width: 767px) {
          display: none;
        }

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          li {
            list-style: none;
            margin: 0 0.375rem;

            a {
              font-size: 0.8rem;
              font-weight: 500;
              color: $color-text-intro;
              transition: 0.3s linear;

              &:hover {
                color: $red;
              }
            }
          }
        }
      }
    }

    .area-copyright {
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
      }

      .link-to-redrocks {
        p,
        a {
          color: $color-text-intro;
          font-size: 0.7rem!important;
          font-weight: 500;

          @media (max-width: 767px) {
            text-align: center;
            font-size: 10px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

// fancybox style
.fancybox-bg {
  background: $white !important;
}

// style for text-post-area Blog, Realizacje Oferta

.text-post-area {
  padding: 6.5rem 0;

  @media (max-width: 1199px) {
    padding: 3.5rem 2rem;
  }

  @media (max-width: 991px) {
    padding: 3.5rem 0rem;
  }

  @media (max-width: 413px) {
    padding: 3.5rem 0;
  }

  // catalog style for oferta
  .repeate-section-area {
    .repeat_section_catalog {
      margin-bottom: 3rem;

      .title-section {
        margin-bottom: 1.5rem;

        h2 {
          font-size: 1.25rem;
          text-align: center;
          margin-bottom: 0;
          font-weight: 700;
          color: $black-light;

          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
      }

      .block-item-catalog {
        display: flex;
        justify-content: center;

        img {
          max-width: 60px;
        }
      }

      &:last-child {
        margin-bottom: 6rem !important;
      }
    }
  }

  // end catalog style for oferta

  .text-wrap {
    margin-bottom: 6.5rem;

    @media (max-width: 991px) {
      margin-bottom: 2.25rem;
    }

    h2,
    h3,
    h4 {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      color: $blue-dark;
      font-weight: 700;
    }

    p {
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
      color: $black-light;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    a {
      color: $blue-light;
      transition: .2s linear;
      cursor: pointer;
        @media (max-width: 767px) {
          font-size: 15px;
        }
          &:hover {
            color: $red;
          }
    }

    ul,
    ol {
      padding: 0 0 0 1rem;
      margin: 0 0 0.75rem 0;

      li {
        margin-bottom: 0.5rem;
        font-size: 1rem;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }
}

// add cookies style
.cli-bar-container {
  display: flex;
  align-items: center;

  .cli-bar-message {
    p {
      font-size: 13px!important;
      @media (max-width: 985px) {
        text-align: center;
        font-size: 12px;
      }
    }

    a {
      color: $white;
    }
  }

  .cli-bar-btn_container {
    @media (max-width: 985px) {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    #cookie_action_close_header {
      border: none;

      &:focus {
        outline: -webkit-focus-ring-color auto 0px;
      }

      @media (max-width: 985px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

// meow gallery
.mgl-tiles-container {
  margin-bottom: 3rem !important;
}
