@import "./custom-functions";
@import "./custom-variables";
@import "./custom-mixins";
@import "./burger-menu";
@import "./custom-styles";

.navbar.navbarHome .nav-link {
  color: black;
}
p {
  font-size: 1rem !important;
}
#menu-item-584 a {
  // color: #1A92CC;
  border: 1px solid #1A92CC;
  @media(max-width:1199px) {
    border: none;
  }

  &:hover {
    border: 1px solid red;
    @media(max-width:1199px) {
      border: none;
    }
  }
}

#menu-item-584.current_page_item a {
  border-color: red;
}

.navbar.scroll #menu-menu-glowne #menu-item-584 a {
  // color: #1A92CC;
  @media(max-width:1199px) {
    border: none;
  }

  &:hover {
    color: red;
    border: 1px solid red;
    @media(max-width:1199px) {
      border: none;
    }
  }
}

.navbar.scroll #menu-menu-glowne #menu-item-584.current_page_item a {
  border-color: red;
  color: red;
}

#about-us section.seo-text-home {
  padding-top: 0px;
}

#about-us .intro-subpage-area {
  position: relative;
}

#about-us .intro-subpage-area .arrow-animate {
  position: absolute;
  bottom: 100px;
}

.navbar .navbar-brand img {
  max-height: 95px;
}

.navbar-toggler {
  position: relative;
  width: 36px;
  height: 24px;
}

@media (max-width: 1200px) {
  // .navbar.navbarHome {
  //   padding-top: 0px !important;
  // }
  // .navbar .container {
  //   height: 80px;
  // }
  .navbar .navbar-brand img {
    max-height: 85px;
    object-fit: contain;
    max-width: 190px;
  }
  .navbar #navbarNavDropdown {
    justify-content: flex-end;
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 600px) {
  // .navbar-brand {
  //   margin-left: -50px;
  // }
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

section.offer .row {
  justify-content: center;
}

#homepage .slider-home .img-slider {
  object-position: top;
}

.slider-home .slider-text h2 {
  font-weight: 300;
}

.navbar ul#menu-menu-glowne .nav-item .dropdown-menu {
  background-color: white !important;
  li {
    a {
      color: black;
    }
  }

}

#blog-list a {
  span {
    transition: 0.3s;
  }
  &:hover {
    span {
      color: #0070a2 !important;
    }
  }
}

#read-text-page {
  iframe {
    margin: auto;
    display: flex;
  }
}

.navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item {
  //position: relative;
}

.navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item:hover {
  background-color: #ff3600;
  @media(max-width:1199px) {
    background-color: #FFFFFF;
  }
}

.navbar
  ul#menu-menu-glowne
  .nav-item
  .dropdown-menu
  .nav-item
  .dropdown-item:hover {
  background-color: #ff3600;
  @media(max-width: 1199px) {
    background-color: #ffffff; 
    color: red!important;
  }
}




.navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item a {
  //position: absolute;
  height: 100%;
  width: 100%;
}

.navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
