/*! animated hamburger menu */
/* Icon 1 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Maven+Pro:wght@400;500;700&display=swap");
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.animated-icon1 span {
  background: #000000; }

.animated-icon2 span {
  background: #e3f2fd; }

.animated-icon3 span {
  background: #f3e5f5; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 10px; }

.animated-icon1 span:nth-child(3) {
  top: 20px; }

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px; }

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px; }

.animated-icon2 span:nth-child(4) {
  top: 20px; }

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%; }

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px; }

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px; }

button:focus {
  outline: none; }

.navbar-light .navbar-toggler {
  padding: 0;
  border-color: transparent; }

/*! end animated hamburger */
html {
  font-size: 15px; }

@media screen and (min-width: 400px) {
  html {
    font-size: calc(15px + 5 * ((100vw - 400px) / 1000)); } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

p {
  margin-bottom: 0; }

.animated-icon1 span {
  background: #515151; }

.navbar {
  background-color: #fff;
  padding: 15px;
  transition: .3s;
  color: #000;
  transition: .3s linear;
  min-height: 120px; }
  @media (max-width: 1199px) {
    .navbar {
      min-height: 64px;
      padding: 10px 15px; } }
  .navbar.navbarHome {
    background-color: transparent;
    padding: 60px 15px 15px; }
    @media (max-width: 1199px) {
      .navbar.navbarHome {
        padding: 15px;
        background-color: #fff;
        min-height: 64px; } }
    .navbar.navbarHome .nav-link {
      color: #fff; }
  .navbar.nav-subpage .nav-link {
    color: #515151; }
  .navbar .navbar-brand {
    padding-top: .2rem;
    padding-bottom: .2rem; }
    .navbar .navbar-brand img {
      max-height: 73px;
      width: auto;
      transition: .3s linear;
      max-width: 100%; }
      @media (max-width: 1199px) {
        .navbar .navbar-brand img {
          max-height: 40px;
          width: auto; } }
  .navbar ul#menu-menu-glowne {
    display: flex;
    align-items: center; }
    @media (min-width: 1200px) {
      .navbar ul#menu-menu-glowne .nav-item:last-child {
        margin-left: 65px; } }
    .navbar ul#menu-menu-glowne .nav-item .dropdown-menu {
      padding: 0;
      background-color: transparent;
      border: none; }
      @media (min-width: 1200px) {
        .navbar ul#menu-menu-glowne .nav-item .dropdown-menu {
          background-color: rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          overflow: hidden; } }
      .navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item {
        padding: 0;
        margin: 0; }
        .navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item .dropdown-item {
          padding: .25rem .75rem;
          font-size: .8rem; }
          @media (max-width: 1199px) {
            .navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item .dropdown-item {
              text-align: center;
              font-size: 1.1rem; } }
          .navbar ul#menu-menu-glowne .nav-item .dropdown-menu .nav-item .dropdown-item:hover {
            background-color: #FF3600;
            color: #fff; }
  .navbar.scroll {
    background-color: #fff;
    padding: 10px 15px;
    min-height: 64px; }
    .navbar.scroll #navbarNavDropdown .nav-item .nav-link {
      color: #515151; }
    .navbar.scroll .navbar-brand img {
      max-height: 40px;
      width: auto; }
  .navbar #navbarNavDropdown {
    justify-content: flex-end; }
    .navbar #navbarNavDropdown .nav-item.phone-desctop-fast-contact {
      height: 57px;
      width: 57px;
      background: red;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
      cursor: pointer; }
      .navbar #navbarNavDropdown .nav-item.phone-desctop-fast-contact img {
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 10px;
        max-width: 57px;
        height: auto; }
      @media (max-width: 1199px) {
        .navbar #navbarNavDropdown .nav-item.phone-desctop-fast-contact {
          display: none; } }
    .navbar #navbarNavDropdown .nav-item .nav-link {
      font-size: .8rem;
      padding-left: .5rem;
      padding-right: .5rem;
      margin-left: .5rem;
      margin-right: .5rem;
      position: relative;
      transition: .3s;
      text-transform: uppercase; }
      @media (max-width: 1360px) {
        .navbar #navbarNavDropdown .nav-item .nav-link {
          padding-left: .1rem;
          padding-right: .1rem; } }
      @media (max-width: 1199px) {
        .navbar #navbarNavDropdown .nav-item .nav-link {
          color: #515151;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 500; } }
      .navbar #navbarNavDropdown .nav-item .nav-link:hover {
        color: #FF3600; }
      .navbar #navbarNavDropdown .nav-item .nav-link.dropdown-toggle:after {
        border-top: 0.3em solid #FF3600; }
    .navbar #navbarNavDropdown .nav-item .active .nav-link {
      color: #FF3600; }
    .navbar #navbarNavDropdown .nav-item.current_page_item .nav-link {
      color: #FF3600; }

html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Maven Pro', sans-serif;
  color: #515151;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden; }
  body .number-desctop {
    position: fixed;
    right: 4%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.66);
    padding: 10px;
    border-radius: 50px;
    opacity: 0;
    transition: .3s linear;
    transform: scale(0) translateY(0); }
    @media (max-width: 1900px) {
      body .number-desctop {
        right: 2%; } }
    @media (max-width: 1820px) {
      body .number-desctop {
        right: 3%; } }
    @media (max-width: 1730px) {
      body .number-desctop {
        right: 25px; } }
    body .number-desctop a {
      font-size: 1rem;
      font-weight: 500;
      color: #505050;
      min-width: 10rem;
      display: flex;
      justify-content: center; }
    body .number-desctop.active {
      display: block;
      transition: .3s linear;
      opacity: 1;
      transform: scale(1) translateY(150px);
      z-index: 9999; }
      body .number-desctop.active.scroll {
        transform: scale(1) translateY(100px); }
      @media (max-width: 1199px) {
        body .number-desctop.active {
          display: none; } }
  body .phone-mobile-fast-contact {
    height: 57px;
    width: 57px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
    position: fixed;
    right: 15px;
    bottom: 45px;
    z-index: 9999999;
    display: none;
    transform: scale(1);
    animation: pulse 2s infinite; }
    @media (max-width: 1199px) {
      body .phone-mobile-fast-contact {
        display: flex;
        background: #0070A2; } }
    body .phone-mobile-fast-contact img {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px;
      max-width: 57px;
      height: auto; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1640px; }
  .container-smaller {
    max-width: 80%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .container-smaller {
        max-width: 100%; } }

.slider-home {
  min-height: 1080px;
  width: 100%;
  position: relative; }
  @media (max-width: 767px) {
    .slider-home {
      min-height: 745px; } }
  .slider-home .img-slider {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom center;
    height: 100%;
    width: 100%; }
  .slider-home .apla-slider {
    padding: 80px 140px 55px;
    position: absolute;
    margin-top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(238, 249, 255, 0.66);
    width: 1085px; }
    @media (max-width: 1440px) {
      .slider-home .apla-slider {
        padding: 60px 90px 35px;
        width: 991px; } }
    @media (max-width: 1199px) {
      .slider-home .apla-slider {
        padding: 60px 30px 35px;
        width: 767px; } }
    @media (max-width: 991px) {
      .slider-home .apla-slider {
        width: 670px;
        padding: 60px 15px 35px; } }
    @media (max-width: 767px) {
      .slider-home .apla-slider {
        padding: 40px 5px 5px;
        width: calc(100% - 80px);
        margin: 117px auto 0; } }
    @media (max-width: 360px) {
      .slider-home .apla-slider {
        width: calc(100% - 30px); } }
    .slider-home .apla-slider .title-page {
      margin-bottom: 3rem; }
      @media (max-width: 767px) {
        .slider-home .apla-slider .title-page {
          margin-bottom: 15px; } }
      .slider-home .apla-slider .title-page h1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: #0070A2;
        margin-bottom: 0; }
        @media (max-width: 767px) {
          .slider-home .apla-slider .title-page h1 {
            font-size: 20px; } }
    .slider-home .apla-slider .text-on-slider {
      margin-bottom: 3rem; }
      @media (max-width: 767px) {
        .slider-home .apla-slider .text-on-slider {
          margin-bottom: 20px; } }
      .slider-home .apla-slider .text-on-slider p {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.25rem;
        color: #505050; }
        @media (max-width: 767px) {
          .slider-home .apla-slider .text-on-slider p {
            font-size: 15px; } }
    .slider-home .apla-slider .list-icon-apla-slider {
      margin-bottom: 90px; }
      @media (max-width: 767px) {
        .slider-home .apla-slider .list-icon-apla-slider {
          margin-bottom: 5px; } }
      .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem; }
        @media (max-width: 767px) {
          .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider {
            margin-bottom: 5px; } }
        .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .item-icon-apla-slider {
          width: 72px;
          height: 72px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-radius: 15px;
          margin-bottom: 1.5rem; }
          @media (max-width: 767px) {
            .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .item-icon-apla-slider {
              width: 64px;
              height: 64px;
              margin-bottom: 15px; } }
          .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .item-icon-apla-slider img {
            max-width: 100%;
            height: auto;
            display: block; }
        @media (max-width: 767px) {
          .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .text-item-icon-apla-slider {
            margin-bottom: 24px; } }
        .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .text-item-icon-apla-slider h3 {
          font-size: 0.9rem;
          font-weight: 500;
          text-align: center;
          margin-bottom: 0;
          color: #505050; }
          @media (max-width: 767px) {
            .slider-home .apla-slider .list-icon-apla-slider .area-icon-text-apla-slider .text-item-icon-apla-slider h3 {
              font-size: 12px; } }
    .slider-home .apla-slider .btn-apla-slider {
      background-color: #1A92CC;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      max-width: 260px;
      margin: 0 auto;
      transition: .3s linear;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 1rem; }
      .slider-home .apla-slider .btn-apla-slider:hover {
        background-color: #FF3600; }
      @media (max-width: 767px) {
        .slider-home .apla-slider .btn-apla-slider {
          display: none; } }

.arrow-animate {
  display: flex;
  justify-content: center;
  animation: bounce-scroll 2.1s linear infinite; }
  @media (max-width: 767px) {
    .arrow-animate {
      animation: bounce-scroll-mobile 2.1s linear infinite; } }

.aboutus_home {
  padding: 3rem 2rem 8.25rem;
  max-width: 1080px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .aboutus_home {
      padding: .5rem 2rem 3.25rem; } }
  @media (max-width: 413px) {
    .aboutus_home {
      padding: .5rem 0rem 3.25rem; } }
  .aboutus_home .title-section {
    padding: 3rem 0; }
    @media (max-width: 767px) {
      .aboutus_home .title-section {
        padding: 1.5rem 0; } }
    .aboutus_home .title-section h2 {
      color: #FF3600;
      font-size: 1.65rem;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center; }
      @media (max-width: 767px) {
        .aboutus_home .title-section h2 {
          font-size: 18px; } }
  .aboutus_home .text-aboutus-home h3 {
    margin-bottom: 2.25rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700; }
    @media (max-width: 767px) {
      .aboutus_home .text-aboutus-home h3 {
        font-size: 15px; } }
  .aboutus_home .text-aboutus-home p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.25rem; }
    @media (max-width: 767px) {
      .aboutus_home .text-aboutus-home p {
        font-size: 15px; } }
  .aboutus_home .buttons-aboutus-home {
    display: flex;
    justify-content: center;
    padding-top: 1rem; }
    .aboutus_home .buttons-aboutus-home .btn-aboutus {
      background-color: #1A92CC;
      margin: 0 15px;
      color: #fff;
      width: 248px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s linear;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 1rem; }
      @media (max-width: 767px) {
        .aboutus_home .buttons-aboutus-home .btn-aboutus {
          font-size: 12px;
          width: 100%;
          height: 45px;
          margin: 0 8px; }
          .aboutus_home .buttons-aboutus-home .btn-aboutus:first-child {
            margin-left: 0; }
          .aboutus_home .buttons-aboutus-home .btn-aboutus:last-child {
            margin-right: 0; } }
      .aboutus_home .buttons-aboutus-home .btn-aboutus:hover {
        background-color: #FF3600; }

section.offer {
  padding: 9rem 1.25rem 11rem;
  background-size: cover;
  background-position: center;
  min-height: 840px; }
  @media (max-width: 767px) {
    section.offer {
      padding: 65px 0 0; } }
  section.offer .title-section {
    margin-bottom: 6rem; }
    @media (max-width: 767px) {
      section.offer .title-section {
        margin-bottom: 30px; } }
    section.offer .title-section h2 {
      color: #fff;
      font-size: 1.65rem;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center; }
      @media (max-width: 767px) {
        section.offer .title-section h2 {
          font-size: 18px; } }
  section.offer .block-item-offer-section-homepage {
    min-height: 273px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative; }
    @media (max-width: 767px) {
      section.offer .block-item-offer-section-homepage {
        min-height: 160px;
        margin: 0 25px 30px; } }
    @media (max-width: 413px) {
      section.offer .block-item-offer-section-homepage {
        margin: 0 0 30px; } }
    section.offer .block-item-offer-section-homepage .icon {
      margin-bottom: 1.25rem; }
      @media (max-width: 767px) {
        section.offer .block-item-offer-section-homepage .icon {
          padding: 5px; } }
      section.offer .block-item-offer-section-homepage .icon img {
        max-width: 77px;
        height: auto; }
        @media (max-width: 767px) {
          section.offer .block-item-offer-section-homepage .icon img {
            max-width: 64px; } }
    section.offer .block-item-offer-section-homepage .text-name-offer h3 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0;
      color: #515151; }
      @media (max-width: 767px) {
        section.offer .block-item-offer-section-homepage .text-name-offer h3 {
          font-size: 15px; } }
    section.offer .block-item-offer-section-homepage .hover-area-text {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #1A92CC;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: .1s linear;
      transition-delay: .4s;
      transform: scale(1);
      padding: 0 2rem; }
      @media (max-width: 1199px) {
        section.offer .block-item-offer-section-homepage .hover-area-text {
          padding: 0 1rem; } }
      section.offer .block-item-offer-section-homepage .hover-area-text p {
        margin-bottom: 0;
        color: #fff;
        text-align: center;
        font-size: 0.9rem;
        line-height: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
      section.offer .block-item-offer-section-homepage .hover-area-text .readmore-text {
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
        color: #fff;
        display: block;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 22px; }
      section.offer .block-item-offer-section-homepage .hover-area-text:hover {
        transform: scale(1.08);
        opacity: 1; }
        @media (max-width: 767px) {
          section.offer .block-item-offer-section-homepage .hover-area-text:hover {
            opacity: 0; } }

.realizations {
  padding: 6.25em 1.25rem 3.5rem; }
  @media (max-width: 767px) {
    .realizations {
      padding: 3.25em 1.25rem; } }
  @media (max-width: 413px) {
    .realizations {
      padding: 3.25em 0; } }
  .realizations .title-section {
    margin-bottom: 3rem; }
    @media (max-width: 767px) {
      .realizations .title-section {
        margin-bottom: 30px; } }
    .realizations .title-section h2 {
      color: #FF3600;
      font-size: 1.65rem;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center; }
      @media (max-width: 767px) {
        .realizations .title-section h2 {
          font-size: 18px; } }
  .realizations .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 30px;
    padding: 10px;
    margin-bottom: 3rem; }
    @media (max-width: 991px) {
      .realizations .grid-container {
        grid-gap: 20px;
        margin-bottom: 1.5rem; } }
  .realizations .item1 {
    grid-column: 1 / 4; }
    @media (max-width: 1199px) {
      .realizations .item1 {
        grid-column: 1 / 6; } }
    @media (max-width: 991px) {
      .realizations .item1 {
        grid-column: 1 / 11; } }
  .realizations .item2 {
    grid-column: 4 / 11; }
    @media (max-width: 1199px) {
      .realizations .item2 {
        grid-column: 6 / 11; } }
    @media (max-width: 991px) {
      .realizations .item2 {
        grid-column: 1 / 11; } }
  .realizations .item3 {
    grid-column: 1 / 6; }
    @media (max-width: 1199px) {
      .realizations .item3 {
        grid-column: 1 / 6; } }
    @media (max-width: 991px) {
      .realizations .item3 {
        grid-column: 1 / 11; } }
  .realizations .item4 {
    grid-column: 6 / 11; }
    @media (max-width: 1199px) {
      .realizations .item4 {
        grid-column: 6 / 11; } }
    @media (max-width: 991px) {
      .realizations .item4 {
        grid-column: 1 / 11; } }
  .realizations .text-post-apla {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 112, 162, 0.66), rgba(0, 112, 162, 0.66));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px; }
    @media (max-width: 767px) {
      .realizations .text-post-apla {
        position: unset;
        height: unset;
        min-height: 75px;
        opacity: 1;
        padding: 15px 0 0 0;
        background: #fff; } }
    .realizations .text-post-apla h3 {
      color: #fff;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 0;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (max-width: 767px) {
        .realizations .text-post-apla h3 {
          color: #505050;
          font-size: 15px; } }
      .realizations .text-post-apla h3:after {
        content: '';
        display: block;
        width: 80%;
        background: #FF3600;
        height: 2px;
        margin: 15px auto; }
    .realizations .text-post-apla p {
      font-size: 1rem;
      color: #fff;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (max-width: 767px) {
        .realizations .text-post-apla p {
          color: #505050;
          font-size: 12px; } }
  .realizations .grid-container > .link-post {
    text-align: center;
    font-size: 30px;
    height: 354px;
    position: relative;
    transition: .2s linear;
    transform: scale(1); }
    @media (max-width: 767px) {
      .realizations .grid-container > .link-post {
        height: unset; } }
    .realizations .grid-container > .link-post:hover {
      transform: scale(0.9); }
      @media (max-width: 767px) {
        .realizations .grid-container > .link-post:hover {
          transform: scale(1); } }
      .realizations .grid-container > .link-post:hover .text-post-apla {
        opacity: 1; }
    .realizations .grid-container > .link-post .bg-block-realization {
      background-size: cover !important;
      background-position: bottom center !important;
      background-repeat: no-repeat !important;
      height: 100%; }
      @media (max-width: 767px) {
        .realizations .grid-container > .link-post .bg-block-realization {
          height: 160px; } }

.btn-blue {
  background-color: #1A92CC;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 260px;
  margin: 0 auto;
  transition: .3s linear;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1rem; }
  .btn-blue:hover {
    background-color: #FF3600;
    color: #fff; }
  @media (max-width: 767px) {
    .btn-blue {
      font-size: 12px;
      height: 45px;
      max-width: 100%; } }

#homepage .realizations {
  padding: 6.25em 1.25rem 6.5rem; }
  @media (max-width: 767px) {
    #homepage .realizations {
      padding: 3.25rem 1.25rem; } }
  @media (max-width: 413px) {
    #homepage .realizations {
      padding: 3.25rem 0; } }

#blog .presetation-list,
#offer .presetation-list {
  margin-bottom: 6.5rem; }
  @media (max-width: 991px) {
    #blog .presetation-list,
    #offer .presetation-list {
      margin-bottom: 0;
      padding-bottom: 1.5rem; } }
  #blog .presetation-list .text-block-presentationList span.read-more,
  #offer .presetation-list .text-block-presentationList span.read-more {
    color: #FF3600;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-top: -0.5rem;
    font-size: 1rem; }

#blog .intro-bottom,
#offer .intro-bottom {
  display: none; }
  @media (max-width: 991px) {
    #blog .intro-bottom,
    #offer .intro-bottom {
      display: block; } }

@media (max-width: 991px) {
  #blog .dividier.max991-d-none,
  #offer .dividier.max991-d-none {
    display: none; } }

#offer .title-section {
  margin-bottom: 3rem; }
  @media (max-width: 991px) {
    #offer .title-section {
      margin-bottom: 2.25rem; } }
  #offer .title-section h2 {
    color: #505050;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0; }

#offer .text-block-presentationList .presetation-list {
  padding: 6.5rem 0 0 0; }
  @media (max-width: 991px) {
    #offer .text-block-presentationList .presetation-list {
      padding: 3.5rem 1.25rem 3.25rem; } }

#offer .text-block-presentationList .text-title-icon-offer h3 {
  color: #515151;
  margin-bottom: 0; }

#offer .listIcons_offer {
  padding: 6.5rem 0 6rem; }
  @media (max-width: 991px) {
    #offer .listIcons_offer {
      padding: 2.25rem 2rem 1.5rem; } }
  @media (max-width: 413px) {
    #offer .listIcons_offer {
      padding: 2.25rem 0 1.5rem; } }
  #offer .listIcons_offer .list-Icons_offer_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (max-width: 991px) {
      #offer .listIcons_offer .list-Icons_offer_wrap {
        margin-bottom: 2rem; } }
    #offer .listIcons_offer .list-Icons_offer_wrap .icon-item-offer {
      margin-bottom: 1.5rem;
      height: 6.5rem; }
      #offer .listIcons_offer .list-Icons_offer_wrap .icon-item-offer img {
        max-width: 5.75rem;
        height: auto; }
    #offer .listIcons_offer .list-Icons_offer_wrap .text-title-icon-offer h3 {
      text-align: center;
      font-size: 1.25rem;
      color: #505050;
      font-weight: 500;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        #offer .listIcons_offer .list-Icons_offer_wrap .text-title-icon-offer h3 {
          font-size: 15px; } }

@media (max-width: 991px) {
  #offer .wrap-list-presentation .nth-row-list-presentation:nth-child(odd) .nth-list-presentation-col:nth-child(odd) {
    order: 2; } }

@media (max-width: 991px) {
  #offer .wrap-list-presentation .nth-row-list-presentation:nth-child(odd) .nth-list-presentation-col:nth-child(even) {
    order: 1; } }

@media (max-width: 991px) {
  #offer .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(odd) {
    order: 2; } }

@media (max-width: 991px) {
  #offer .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(even) {
    order: 1; } }

@media (max-width: 991px) {
  #offer .wrap-list-presentation .nth-row-list-presentation .image-blockpresentationList {
    margin-bottom: 2.5rem; } }

#offer .text-block-presentationList h3 {
  color: #515151; }

#offer .text-block-presentationList .btn-blue {
  width: 110px;
  font-size: 18px; }

@keyframes bounce-scroll {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  30% {
    transform: translateY(25px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes bounce-scroll-mobile {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  30% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(79, 141, 221, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(46, 71, 185, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(62, 70, 185, 0); } }

.news {
  padding: 6.75rem 1.25rem 8.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 868px;
  margin-bottom: 4.5rem; }
  @media (max-width: 767px) {
    .news {
      min-height: unset;
      padding: 1.5rem 0.75rem;
      margin-bottom: 3rem; } }
  @media (max-width: 413px) {
    .news {
      padding: 1.5rem 0; } }
  .news .title-section {
    margin-bottom: 4.5rem; }
    @media (max-width: 767px) {
      .news .title-section {
        margin-bottom: 30px; } }
    .news .title-section h2 {
      color: #fff;
      font-size: 1.65rem;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center; }
      @media (max-width: 767px) {
        .news .title-section h2 {
          font-size: 18px; } }
  .news .blog_post-wrap {
    background: #fff;
    min-height: 398px;
    padding: 2rem 3rem 1.5rem;
    margin-bottom: 1.5rem;
    position: relative; }
    @media (max-width: 767px) {
      .news .blog_post-wrap {
        min-height: unset;
        padding: 1.5rem 0.75rem 1.5rem; } }
    .news .blog_post-wrap .blog-title-area {
      min-height: 66px;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .news .blog_post-wrap .blog-title-area {
          min-height: unset;
          margin-bottom: 10px; } }
      .news .blog_post-wrap .blog-title-area h3.blog_post-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
        color: #0070A2;
        margin-bottom: 0;
        text-align: center;
        font-weight: 700;
        line-height: 33px; }
        @media (max-width: 767px) {
          .news .blog_post-wrap .blog-title-area h3.blog_post-title {
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 20px; } }
    .news .blog_post-wrap .blog_post-description {
      min-height: 135px;
      margin-bottom: 2.75rem; }
      @media (max-width: 767px) {
        .news .blog_post-wrap .blog_post-description {
          margin-bottom: 15px;
          min-height: unset; } }
      .news .blog_post-wrap .blog_post-description p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        text-align: center;
        margin-bottom: 0;
        color: #515151;
        line-height: 27px; }
        @media (max-width: 767px) {
          .news .blog_post-wrap .blog_post-description p {
            font-size: 15px;
            line-height: 20px; } }
    .news .blog_post-wrap .read-more {
      display: block;
      text-align: right;
      font-size: 1rem;
      font-weight: 700;
      color: #FF3600; }
      @media (max-width: 767px) {
        .news .blog_post-wrap .read-more {
          font-size: 15px; } }

.intro-subpage-area {
  width: 100%;
  padding-top: 6rem; }
  @media (max-width: 1199px) {
    .intro-subpage-area {
      padding-top: 64px; } }
  .intro-subpage-area .intro-bg-area {
    min-height: 74vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem; }
    @media (max-width: 767px) {
      .intro-subpage-area .intro-bg-area {
        min-height: 50vh;
        margin-bottom: 0.5rem; } }
    .intro-subpage-area .intro-bg-area .center-column-intro-apla {
      display: flex;
      justify-content: center;
      width: 100%; }
      @media (max-width: 991px) {
        .intro-subpage-area .intro-bg-area .center-column-intro-apla {
          margin: 0 25px; } }
      @media (max-width: 413px) {
        .intro-subpage-area .intro-bg-area .center-column-intro-apla {
          margin: 0; } }
      .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg {
        background: rgba(238, 249, 255, 0.66);
        min-height: 323px;
        padding: 3.2rem 0;
        margin: 2.25rem 0 0.75rem; }
        @media (max-width: 991px) {
          .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg {
            min-height: 272px;
            margin: 0.75rem 0; } }
        .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .titleIntro-area h1 {
          color: #0070A2;
          font-size: 2rem;
          text-align: center;
          font-weight: 700;
          margin-bottom: 1.5rem;
          padding: 0 0.75rem; }
          @media (max-width: 767px) {
            .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .titleIntro-area h1 {
              font-size: 20px;
              margin-bottom: 15px; } }
        .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area {
          padding: 0 18rem; }
          @media (max-width: 1800px) {
            .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area {
              padding: 0 10rem; } }
          @media (max-width: 1400px) {
            .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area {
              padding: 0 5rem; } }
          @media (max-width: 1199px) {
            .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area {
              padding: 0 2.5rem; } }
          @media (max-width: 767px) {
            .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area {
              padding: 0 0.75rem; } }
          .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area p {
            text-align: center;
            font-size: 1.25rem;
            margin-bottom: 0; }
            @media (max-width: 767px) {
              .intro-subpage-area .intro-bg-area .center-column-intro-apla .intro-apla-bg .textIntro-area p {
                font-size: 15px;
                margin-bottom: 0; } }

.dividier {
  height: 2px;
  background-color: #FF3600;
  max-width: 65%;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .dividier {
      height: 1px; } }

#about-us .certificate {
  padding: 6.5rem 0;
  max-width: 1080px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    #about-us .certificate {
      padding: 1.5rem 0.75rem 3.5rem; } }
  #about-us .certificate .cert-wrap-text {
    max-width: 805px;
    margin: 0 auto 1.5rem; }
    #about-us .certificate .cert-wrap-text h2 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: #0070A2; }
      @media (max-width: 767px) {
        #about-us .certificate .cert-wrap-text h2 {
          font-size: 15px; } }
    #about-us .certificate .cert-wrap-text p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0.75rem; }
      @media (max-width: 767px) {
        #about-us .certificate .cert-wrap-text p {
          font-size: 15px; } }
  #about-us .certificate .btn-blue {
    max-width: 248px; }
    @media (max-width: 991px) {
      #about-us .certificate .btn-blue {
        max-width: 162px; } }

.intro-bottom {
  margin-bottom: 6rem; }
  @media (max-width: 991px) {
    .intro-bottom {
      margin-bottom: 3rem; } }
  .intro-bottom .intro-bottom-wrapper {
    padding: 6.5rem 0 5.75rem;
    max-width: 665px;
    margin: 0 auto; }
    @media (max-width: 991px) {
      .intro-bottom .intro-bottom-wrapper {
        padding: 3rem 1.25rem 2.25rem;
        max-width: 86%; } }
    @media (max-width: 413px) {
      .intro-bottom .intro-bottom-wrapper {
        max-width: 100%; } }
    .intro-bottom .intro-bottom-wrapper h3 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: #0070A2; }
      @media (max-width: 767px) {
        .intro-bottom .intro-bottom-wrapper h3 {
          font-size: 20px;
          color: #505050; } }
    .intro-bottom .intro-bottom-wrapper p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0.75rem; }
      @media (max-width: 767px) {
        .intro-bottom .intro-bottom-wrapper p {
          font-size: 15px; } }

section.presetation-list {
  padding: 6.5rem 0 0 0; }
  @media (max-width: 991px) {
    section.presetation-list {
      padding: 3.5rem 1.25rem 3.25rem; } }
  section.presetation-list .wrap-list-presentation .nth-row-list-presentation {
    margin-bottom: 6.5rem; }
    @media (max-width: 991px) {
      section.presetation-list .wrap-list-presentation .nth-row-list-presentation {
        margin-bottom: 3rem; }
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation:last-child {
          margin-bottom: 0; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(odd) .nth-list-presentation-col .image-blockpresentationList {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(odd) .nth-list-presentation-col .image-blockpresentationList {
          justify-content: center; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col .image-blockpresentationList {
      display: flex;
      justify-content: flex-start; }
      @media (max-width: 991px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col .image-blockpresentationList {
          justify-content: center; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(odd) {
      order: 2; }
      @media (max-width: 991px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(odd) {
          order: 1; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(even) {
      order: 1; }
      @media (max-width: 991px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation:nth-child(even) .nth-list-presentation-col:nth-child(even) {
          order: 2; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList {
      padding-top: 1.25rem; }
      @media (max-width: 991px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList {
          margin: 0 auto 1.5rem;
          padding: 0 2.25rem; } }
      @media (max-width: 413px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList {
          padding: 0; } }
      section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList h3 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: #0070A2; }
        @media (max-width: 767px) {
          section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList h3 {
            font-size: 15px; } }
      section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList p {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        color: #515151;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
        @media (max-width: 767px) {
          section.presetation-list .wrap-list-presentation .nth-row-list-presentation .text-block-presentationList p {
            font-size: 15px; } }
    section.presetation-list .wrap-list-presentation .nth-row-list-presentation .image-blockpresentationList img {
      object-fit: cover;
      height: 350px;
      width: 525px;
      max-width: 100%; }
      @media (max-width: 767px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation .image-blockpresentationList img {
          height: 280px; } }
      @media (max-width: 500px) {
        section.presetation-list .wrap-list-presentation .nth-row-list-presentation .image-blockpresentationList img {
          height: auto; } }
  section.presetation-list .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5rem; }
    @media (max-width: 991px) {
      section.presetation-list .pagination {
        margin-bottom: 0;
        margin-top: 3rem; } }
    section.presetation-list .pagination .page-numbers {
      color: #515151;
      padding: 0 .25rem;
      transition: .3s linear; }
      section.presetation-list .pagination .page-numbers.current {
        color: #FF3600; }
      section.presetation-list .pagination .page-numbers:hover {
        color: #FF3600; }

#subpage-text {
  padding-top: 6rem; }
  @media (max-width: 1199px) {
    #subpage-text {
      padding: 5.75rem 0 0; } }
  @media (max-width: 991px) {
    #subpage-text {
      min-height: 72px;
      padding: 5.75rem 2rem 0; } }
  #subpage-text .intro-subpage-area-small {
    background: rgba(238, 249, 255, 0.66);
    min-height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; }
    @media (max-width: 991px) {
      #subpage-text .intro-subpage-area-small {
        min-height: 72px; } }
    #subpage-text .intro-subpage-area-small .title-area h1 {
      color: #505050;
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: 700; }
      @media (max-width: 767px) {
        #subpage-text .intro-subpage-area-small .title-area h1 {
          font-size: 20px; } }

.list-icons-contact {
  padding: 6.5rem 1.5rem; }
  @media (max-width: 1199px) {
    .list-icons-contact {
      padding: 3rem 2rem .5rem; } }
  @media (max-width: 413px) {
    .list-icons-contact {
      padding: 2.5rem 1.75rem; } }
  @media (max-width: 767px) {
    .list-icons-contact .doLewej {
      display: flex;
      justify-content: center; } }
  @media (max-width: 500px) {
    .list-icons-contact .doLewej {
      padding: 0 4.5rem;
      display: block; } }
  @media (max-width: 360px) {
    .list-icons-contact .doLewej {
      padding: 0; } }
  .list-icons-contact .doLewej .wrap-item-block,
  .list-icons-contact .doLewej .link-area-wrap {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1199px) {
      .list-icons-contact .doLewej .wrap-item-block,
      .list-icons-contact .doLewej .link-area-wrap {
        margin-bottom: 2.5rem; } }
    @media (max-width: 767px) {
      .list-icons-contact .doLewej .wrap-item-block,
      .list-icons-contact .doLewej .link-area-wrap {
        justify-content: flex-start; } }
    @media (max-width: 360px) {
      .list-icons-contact .doLewej .wrap-item-block,
      .list-icons-contact .doLewej .link-area-wrap {
        justify-content: center; } }
    .list-icons-contact .doLewej .wrap-item-block .icon,
    .list-icons-contact .doLewej .link-area-wrap .icon {
      margin-right: 1.25rem; }
      @media (max-width: 991px) {
        .list-icons-contact .doLewej .wrap-item-block .icon,
        .list-icons-contact .doLewej .link-area-wrap .icon {
          margin-right: 0.75rem; } }
      .list-icons-contact .doLewej .wrap-item-block .icon img,
      .list-icons-contact .doLewej .link-area-wrap .icon img {
        max-width: 64px;
        height: auto; }
        @media (max-width: 991px) {
          .list-icons-contact .doLewej .wrap-item-block .icon img,
          .list-icons-contact .doLewej .link-area-wrap .icon img {
            max-width: 33px; } }
    .list-icons-contact .doLewej .wrap-item-block .text-of-icon h3,
    .list-icons-contact .doLewej .link-area-wrap .text-of-icon h3 {
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 0;
      color: #515151; }
      @media (max-width: 1300px) {
        .list-icons-contact .doLewej .wrap-item-block .text-of-icon h3,
        .list-icons-contact .doLewej .link-area-wrap .text-of-icon h3 {
          font-size: 1rem; } }
      @media (max-width: 991px) {
        .list-icons-contact .doLewej .wrap-item-block .text-of-icon h3,
        .list-icons-contact .doLewej .link-area-wrap .text-of-icon h3 {
          font-size: 1rem; } }

#contact .mapAndForm {
  margin-bottom: 6.5rem;
  padding: 0 1.25rem; }
  @media (max-width: 991px) {
    #contact .mapAndForm {
      margin-bottom: 3.5rem; } }
  #contact .mapAndForm .mapAndFormArea {
    padding-bottom: 6.5rem; }
    @media (max-width: 991px) {
      #contact .mapAndForm .mapAndFormArea {
        padding-bottom: 3.5rem; } }
    @media (max-width: 1199px) {
      #contact .mapAndForm .mapAndFormArea .col-contact-order-1 {
        order: 2; } }
    @media (max-width: 1199px) {
      #contact .mapAndForm .mapAndFormArea .col-contact-order-2 {
        order: 1; } }
    #contact .mapAndForm .mapAndFormArea .title-column {
      margin-bottom: 1.5rem; }
      #contact .mapAndForm .mapAndFormArea .title-column h3 {
        color: #FF3600;
        font-size: 1.25rem;
        margin-bottom: 0;
        font-weight: 700; }
        @media (max-width: 1199px) {
          #contact .mapAndForm .mapAndFormArea .title-column h3 {
            text-align: center; } }
    #contact .mapAndForm .mapAndFormArea .map-area {
      height: calc(100% - 4.5rem);
      margin-right: 4.5rem;
      position: relative;
      overflow: hidden; }
      @media (max-width: 1440px) {
        #contact .mapAndForm .mapAndFormArea .map-area {
          margin-right: 0; } }
      @media (max-width: 1199px) {
        #contact .mapAndForm .mapAndFormArea .map-area {
          height: 500px; } }
      #contact .mapAndForm .mapAndFormArea .map-area iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%; }
    #contact .mapAndForm .mapAndFormArea .contact-form-area {
      min-height: 635px; }
      @media (max-width: 1199px) {
        #contact .mapAndForm .mapAndFormArea .contact-form-area {
          margin-bottom: calc(3rem - 24px); } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area .form-control {
        display: block;
        width: 100%;
        min-height: 3.2rem;
        padding: 10px 15px;
        font-size: 1rem;
        font-weight: 400;
        color: #515151;
        margin-bottom: 1.5rem;
        border: 2px solid #0070A2;
        border-radius: 0;
        font-size: 1.25rem; }
      #contact .mapAndForm .mapAndFormArea .contact-form-area ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #515151;
        font-size: 1.5rem;
        font-weight: 400; }
        @media (max-width: 767px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area ::-webkit-input-placeholder {
            font-size: 15px; } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area ::-moz-placeholder {
        /* Firefox 19+ */
        color: #515151;
        font-size: 1.5rem;
        font-weight: 400; }
        @media (max-width: 767px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area ::-moz-placeholder {
            font-size: 15px; } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area :-ms-input-placeholder {
        /* IE 10+ */
        color: #515151;
        font-size: 1.5rem;
        font-weight: 400; }
        @media (max-width: 767px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area :-ms-input-placeholder {
            font-size: 15px; } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area :-moz-placeholder {
        /* Firefox 18- */
        color: #515151;
        font-size: 1.5rem;
        font-weight: 400; }
        @media (max-width: 767px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area :-moz-placeholder {
            font-size: 15px; } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area .btn-blue {
        border: none;
        width: 110px; }
        #contact .mapAndForm .mapAndFormArea .contact-form-area .btn-blue:focus {
          outline: -webkit-focus-ring-color auto 0px; }
        @media (max-width: 1199px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area .btn-blue {
            width: 160px; } }
      #contact .mapAndForm .mapAndFormArea .contact-form-area .wpcf7-not-valid-tip {
        color: #FF3600;
        font-size: 1em;
        font-weight: normal;
        display: block;
        font-size: .7rem;
        margin-top: -30px;
        margin-bottom: 15px; }
        @media (max-width: 1199px) {
          #contact .mapAndForm .mapAndFormArea .contact-form-area .wpcf7-not-valid-tip {
            margin-top: -15px; } }

#footer .footer-content .intro-footer .intro-area-footer {
  padding: 0 2rem 3.25rem; }
  @media (max-width: 991px) {
    #footer .footer-content .intro-footer .intro-area-footer {
      padding: 0 1.25rem 3rem; } }
  #footer .footer-content .intro-footer .intro-area-footer h2 {
    font-size: 1.65rem;
    font-weight: 700;
    text-align: center;
    color: #1A92CC;
    margin-bottom: 2.25rem;
    line-height: 44px; }
    @media (max-width: 767px) {
      #footer .footer-content .intro-footer .intro-area-footer h2 {
        line-height: 30px;
        font-size: 20px; } }
  #footer .footer-content .intro-footer .intro-area-footer h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #515151;
    text-align: center;
    line-height: 33px;
    margin-bottom: 1.25rem; }
    @media (max-width: 767px) {
      #footer .footer-content .intro-footer .intro-area-footer h3 {
        line-height: 30px;
        font-size: 20px; } }

#footer .footer-bg-wrap {
  padding: 4.4rem 2rem 1.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    #footer .footer-bg-wrap {
      padding: 3.25rem 2rem 1.5rem; } }
  #footer .footer-bg-wrap .social-icons-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7rem; }
    @media (max-width: 767px) {
      #footer .footer-bg-wrap .social-icons-footer {
        margin-bottom: 3.25rem; } }
    #footer .footer-bg-wrap .social-icons-footer .icon-socialmedia-item {
      margin: 0 17px; }
      #footer .footer-bg-wrap .social-icons-footer .icon-socialmedia-item img {
        max-width: 41px;
        height: auto; }
        @media (max-width: 767px) {
          #footer .footer-bg-wrap .social-icons-footer .icon-socialmedia-item img {
            max-width: 35px; } }
  #footer .footer-bg-wrap .area-adress-footer {
    margin: 0 auto 3rem; }
    @media (max-width: 767px) {
      #footer .footer-bg-wrap .area-adress-footer {
        margin-bottom: 30px; } }
    #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 4.4rem; }
      @media (max-width: 767px) {
        #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer {
          margin-bottom: 30px; } }
      @media (max-width: 413px) {
        #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer {
          flex-direction: column;
          align-items: center; } }
      #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .text-adress-area {
        padding-right: 45px; }
        @media (max-width: 767px) {
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .text-adress-area {
            width: 50%;
            padding: 0 5px; } }
        @media (max-width: 413px) {
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .text-adress-area {
            margin-bottom: 30px;
            width: 100%;
            padding: 0; } }
        #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .text-adress-area p {
          font-size: .8rem;
          line-height: 27px;
          font-weight: 500; }
          @media (max-width: 767px) {
            #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .text-adress-area p {
              text-align: center;
              font-size: 12px;
              line-height: 22px; } }
      #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer {
        padding-left: 45px; }
        @media (max-width: 767px) {
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer {
            width: 50%;
            padding: 0 5px; } }
        @media (max-width: 413px) {
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer {
            margin-bottom: 30px;
            width: 100%;
            padding: 0;
            max-width: 50%;
            margin: 0 auto; } }
        @media (max-width: 360px) {
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer {
            max-width: 65%; } }
        #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer a {
          font-size: .8rem;
          color: #505050;
          line-height: 16px;
          font-weight: 500;
          transition: .3s linear; }
          #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer a:hover {
            color: #FF3600; }
          @media (max-width: 767px) {
            #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer a {
              font-size: 12px; } }
        #footer .footer-bg-wrap .area-adress-footer .area-adress-flex-footer .contact-icons-footer img {
          margin-right: 15px;
          max-width: 15px;
          height: auto; }
  #footer .footer-bg-wrap .area-menu-footer {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #FF3600;
    max-width: 1080px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      #footer .footer-bg-wrap .area-menu-footer {
        border-bottom: 1px solid #0070A2;
        padding-bottom: 0; } }
    @media (max-width: 767px) {
      #footer .footer-bg-wrap .area-menu-footer .nav-footer {
        display: none; } }
    #footer .footer-bg-wrap .area-menu-footer .nav-footer ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      #footer .footer-bg-wrap .area-menu-footer .nav-footer ul li {
        list-style: none;
        margin: 0 0.375rem; }
        #footer .footer-bg-wrap .area-menu-footer .nav-footer ul li a {
          font-size: 0.8rem;
          font-weight: 500;
          color: #505050;
          transition: .3s linear; }
          #footer .footer-bg-wrap .area-menu-footer .nav-footer ul li a:hover {
            color: #FF3600; }
  #footer .footer-bg-wrap .area-copyright {
    max-width: 1080px;
    margin: 0 auto; }
    #footer .footer-bg-wrap .area-copyright .link-to-redrocks p,
    #footer .footer-bg-wrap .area-copyright .link-to-redrocks a {
      color: #505050;
      font-size: .7rem;
      font-weight: 500; }
      @media (max-width: 767px) {
        #footer .footer-bg-wrap .area-copyright .link-to-redrocks p,
        #footer .footer-bg-wrap .area-copyright .link-to-redrocks a {
          text-align: center;
          font-size: 10px; } }

.fancybox-bg {
  background: #fff !important; }

.text-post-area {
  padding: 6.5rem 0; }
  @media (max-width: 1199px) {
    .text-post-area {
      padding: 3.5rem 2rem; } }
  @media (max-width: 413px) {
    .text-post-area {
      padding: 3.5rem 0rem; } }
  .text-post-area .repeate-section-area .repeat_section_catalog {
    margin-bottom: 3rem; }
    .text-post-area .repeate-section-area .repeat_section_catalog .title-section {
      margin-bottom: 1.5rem; }
      .text-post-area .repeate-section-area .repeat_section_catalog .title-section h2 {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 0;
        font-weight: 700;
        color: #515151; }
        @media (max-width: 767px) {
          .text-post-area .repeate-section-area .repeat_section_catalog .title-section h2 {
            font-size: 20px; } }
    .text-post-area .repeate-section-area .repeat_section_catalog .block-item-catalog {
      display: flex;
      justify-content: center; }
      .text-post-area .repeate-section-area .repeat_section_catalog .block-item-catalog img {
        max-width: 60px; }
    .text-post-area .repeate-section-area .repeat_section_catalog:last-child {
      margin-bottom: 6rem !important; }
  .text-post-area .text-wrap {
    margin-bottom: 6.5rem; }
    @media (max-width: 991px) {
      .text-post-area .text-wrap {
        margin-bottom: 2.25rem; } }
    .text-post-area .text-wrap h2,
    .text-post-area .text-wrap h3,
    .text-post-area .text-wrap h4 {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      color: #0070A2;
      font-weight: 700; }
    .text-post-area .text-wrap p {
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
      color: #515151; }
      @media (max-width: 767px) {
        .text-post-area .text-wrap p {
          font-size: 15px; } }
    .text-post-area .text-wrap a {
      color: #515151; }
      @media (max-width: 767px) {
        .text-post-area .text-wrap a {
          font-size: 15px; } }
    .text-post-area .text-wrap ul,
    .text-post-area .text-wrap ol {
      padding: 0 0 0 1rem;
      margin: 0 0 0.75rem 0; }
      .text-post-area .text-wrap ul li,
      .text-post-area .text-wrap ol li {
        margin-bottom: .5rem;
        font-size: 1.25rem; }
        @media (max-width: 767px) {
          .text-post-area .text-wrap ul li,
          .text-post-area .text-wrap ol li {
            font-size: 15px; } }

.cli-bar-container {
  display: flex;
  align-items: center; }
  @media (max-width: 985px) {
    .cli-bar-container .cli-bar-message p {
      text-align: center; } }
  .cli-bar-container .cli-bar-message a {
    color: #fff; }
  @media (max-width: 985px) {
    .cli-bar-container .cli-bar-btn_container {
      display: flex;
      width: 100%;
      justify-content: center; } }
  .cli-bar-container .cli-bar-btn_container #cookie_action_close_header {
    border: none; }
    .cli-bar-container .cli-bar-btn_container #cookie_action_close_header:focus {
      outline: -webkit-focus-ring-color auto 0px; }
    @media (max-width: 985px) {
      .cli-bar-container .cli-bar-btn_container #cookie_action_close_header {
        width: 50%; } }
    @media (max-width: 767px) {
      .cli-bar-container .cli-bar-btn_container #cookie_action_close_header {
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
